<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}" lang="">
<head>
    <title>Fail</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-6">
            Er is iets fout gegaan bij het versturen van de e-mail, probeer het later opnieuw.

            Foutcode<br/>
            <span th:text="${error}">error</span>
        </div>
    </div>
</div>
</body>
</html>