<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Footer -->
    <footer class="page-footer font-small fixed-bottom">
        <div class="container">
            <div class="icons">
                <a href="https://twitter.com/merylsnieuws" target="_blank" class="fa fa-twitter"></a>
                <a href="https://nl.linkedin.com/public-profile/in/meryl-geugies" target="_blank" class="fa fa-linkedin"></a>
                <a href="https://www.instagram.com/merylsnieuws/" target="_blank" class="fa fa-instagram"></a>

            </div>
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="mailto:meryl@merylsnieuws.nl">MerylsNieuws</a>
            </div>
        </div>
    </footer>
</div>