<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}" lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-sm-6 justify-content-start">
            <h3>Hej! Ik ben Meryl</h3>
            <p>
                Ik vind het geweldig om iets te creëren, het maakt mij niet uit of dat een taart, video of website is. Al is dat laatste natuurlijk hier van toepassing.
                Het liefst werk ik een een team waar we proberen het beste in elkaar naar boven te halen.
                Met mijn creatieve brein en goede communicatie skills hoop ik veel mooie apps te ontwikkelen (en te onderhouden) met mijn team.
            </p>
        </div>
        <div class="col-sm-6 justify-content-end">
            <div class="profile">
                <img class="picture" src="/images/MerylGeugies.jpg" alt="Meryl Geugies" />
            </div>
        </div>
    </div>
</div>
</body>
</html>