<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}" lang="">
<head>
  <title>Meryl's skills</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="row">
      <div class="col-12">
        <ul>
          <li> JavaScript</li>
          <li> React </li>
          <li> Redux </li>
          <li> CSS/HTML </li>
          <li> Node.js </li>
          <li> Java </li>
          <li> PostgreSQL </li>
          <li> Express.js </li>
          <li> Mendix </li>
          <li> GIT </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>