<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}" lang="">
<head>
  <title>Studies </title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="row">
      <div class="col-12">
        <table id="info">
          <tr>
            <th> Studie </th>
            <th> Bedrijf </th>
            <th> Plaats </th>
          </tr>
          <tr>
            <td> Full Stack Developer Bootcamp </td>
            <td> Codaisseur </td>
            <td> Amsterdam </td>
          </tr>
          <tr>
            <td>Bachelor Toegepaste Audiovisuele Communicatie </td>
            <td> Thomas More </td>
            <td> Mechelen (BE) </td>
          </tr>
          <tr>
            <td> Postgraduaat Onderzoeksjournalistiek </td>
            <td> Fontys Hogeschool </td>
            <td> Tilburg </td>
          </tr>
          <tr>
            <td> Bachelor Journalistiek </td>
            <td> Hogeschool Windesheim </td>
            <td> Zwolle </td>
          </tr>
          <tr>
            <td> MBO Grafisch Vormgeven </td>
            <td> MediaCollege Amsterdam </td>
            <td> Amsterdam </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>