<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{main_layout}" lang="">
<head>
  <title>Werk</title>
</head>
<body>
  <div layout:fragment="content" class="container">
    <div class="row">
      <div class="col-12">
        <h3> Mijn recente werkervaring</h3>
        <table id="info">
          <tr>
            <th> Functie </th>
            <th> Bedrijf </th>
            <th> Periode </th>
          </tr>
          <tr>
            <td> Callcentermedewerker </td>
            <td> Teleperformance </td>
            <td> 2020 </td>
          </tr>
          <tr>
            <td> Trainee Frontend Developer </td>
            <td> Sogeti </td>
            <td> 2020 </td>
          </tr>
          <tr>
            <td> Verkoopmedewerker </td>
            <td> Marko Beverwijk </td>
            <td> 2018-2019 </td>
          </tr>
          <tr>
            <td> Verslaggever (STAGE) </td>
            <td> Omroep Zeeland </td>
            <td> 2018 </td>
          </tr>
          <tr>
            <td> Customer Service Medewerker </td>
            <td> IKEA </td>
            <td> 2011-2018 </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>
</html>